/*
    Imported Files
*/
@import url("./reset.css");
@import url("./fonts.css");
@import url("./grid.css");

/*
    -=-=-=-=-=
    App Styles
    -=-=-=-=-=
*/
body {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: "Poppins regular";
}

