/*
   x |Imported Files| x+
*/
@import url("./reset.css");
@import url("./fonts.css");
@import url("./grid.css");

:root {
    --primary-color: #09BEAD;
    --text-color: #333333;
    --app-bg-color: #ffffff;
    --section-bg-color: #ffffff;
}


/*
   x |Components| x
*/
.btn {
    font-family: "Poppins SemiBold";
    width: 20rem;
    height: 60rem;
    background-color: var(--text-color);
}

/*
   x |App Styles| x
*/

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    font-family: "Poppins Regular";
    color: var(--text-color);
}

a {
    text-decoration: none;
}

/*
    x |Header| x
*/
.header {
    box-shadow: 0 0.3rem 5.9rem rgba(4, 195, 255, 16%);
    background-color: var(--section-bg-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15rem;
    position: relative;
}

.header__logo {
    font-family: "Poppins Black";
    font-size: 7.8rem;
    color: var(--primary-color);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu__item {
    margin-left: 5rem;
}

.menu__item:first-child {
    margin-left: 0;
}

.menu__link {
    font-family: "Poppins Medium";
    color: var(--text-color);
    transition: all 250ms ease-in-out;
}

.menu__link:hover {
    color: var(--primary-color);
    font-size: 1.61rem;
    letter-spacing: 0.1rem;
}

.menu__link--active {
    color: var(--primary-color);
}

/*
    x |Mobile Menu & Btn| x
*/
.menu-toggle {
    display: none;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background-color: var(--app-bg-color);
    border-radius: 1.5rem;
    box-shadow: 0 0 5rem -1rem var(--primary-color);
    cursor: pointer;
}

.menu-toggle__line {
    position: relative;
}

.menu-toggle__line,
.menu-toggle__line::before,
.menu-toggle__line::after {
    content: ' ';
    border-radius: 2rem;
    width: 3rem;
    height: 0.2rem;
    background-color: var(--primary-color);
}

.menu-toggle__line::before {
    position: absolute;
    top: -0.7rem;
}

.menu-toggle__line::after {
    position: absolute;
    top: 0.7rem;
}

.mobile-menu {
    display: none;
    background-color: var(--primary-color);
    position: fixed;
    top: 15rem;
    right: 0;
    left: 0;
    margin: 0 auto;
}

.mobile-menu__item {}

.mobile-menu__link {
    color: var(--text-color);
}

.mobile-menu__link--active {}

/*
    x |Header Contents| x
*/