html {
    font-size: 62.5%;
    box-sizing: border-box;
    overflow-x: hidden;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    line-height: 1.6;
    overflow-x: hidden;
}

/*
//////////////////
    Components
//////////////////
*/
.container {
    width: 100%;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-right: auto;
    margin-left: auto;
}



/*
/////////////////
    App Styles
/////////////////
*/