@font-face {
    font-family: "Poppins regular";
    src: local("Poppins"),
        url("../fonts/Poppins-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins medium";
    src: local("Poppins Medium"),
        url("../fonts/Poppins-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins semibold";
    src: local("Poppins SemiBold"),
        url("../fonts/Poppins-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins bold";
    src: local("Poppins Bold"),
        url("../fonts/Poppins-Bold.ttf") format("truetype");
}