/*
    + |Desktop First| +
*/
@media all and (max-width: 1400px) {

}

@media all and (max-width: 1200px) {
    .menu__item {
        margin-left: 3rem;
    }
}

@media all and (max-width: 992px) {
    .header__logo {
        font-size: 6rem;
    }

    .menu__item {
        margin-left: 2rem;
    }
    .menu__link  {
        font-size: 1.5rem;
    }
}

@media all and (max-width: 768px) {
    .menu {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        height: 0;
        overflow: hidden;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--section-bg-color);
        transition: all 250ms ease-in-out;
    }

    .menu--open {
        height: 34rem;
    }

    .menu__item {
        margin-left: 0;
        margin-bottom: 2rem;
    }

    .menu__item:first-child {
        margin-top: 2rem;
    }

    .menu-toggle {
        display: flex;
    }

}

@media all and (max-width: 576px) {
    
}