/*
    + |Desktop First| +
*/
@media (max-width: 1400px) {
    .home {
        height: 85rem;
    }

    .home__avatar {
        width: 46rem;
        height: 46rem;
    }
}

@media (max-width: 1200px) {
    .menu__item {
        margin-left: 3rem;
    }

    .home {
        height: 75rem;
    }

    .home__avatar {
        width: 37rem;
        height: 37rem;
    }

    .resume-list__item {
        max-width: 27rem;
    }
}

@media (max-width: 992px) {
    .header__logo {
        font-size: 6rem;
    }

    .menu__item {
        margin-left: 2rem;
    }

    .menu__link {
        font-size: 1.5rem;
    }

    .home {
        background: none;
    }

    .home__content-wrapper {
        align-items: center;
    }

    .home__avatar {
        margin: 0 auto 2rem auto;
    }

    .home .row {
        flex-direction: column-reverse;
    }

    .about-us__content-wrapper {
        height: 100rem;
        flex-direction: column;
    }

    .about-us__image-wrapper {
        margin-bottom: 2rem;
    }

    .about-us__discription {
        max-width: auto;
    }

    .about-us {
        height: 120rem;
    }

    .about-us__links {
        padding-bottom: 7rem;
    }

    .resume-content__wrapper {
        margin-left: 0;
    }

    .resume-list {
        box-shadow: none;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        min-height: auto;
        margin-bottom: 4rem;
        gap: 4rem;
        background-color: transparent;
    }

    .resume-list__item {
        margin-bottom: 0;
        padding: 0.6rem 1.5rem;
        border-radius: 3rem;
    }

    .resume-list__text {
        font-size: 1.8rem;
        padding-left: 0;
    }

    .resume-list__item--active {
        background-color: var(--primary-color);
        box-shadow: 0 1.6rem 2.9rem rgba(11, 190, 173, 24%);
    }

    .resume-list:before,
    .resume-list__item::before,
    .resume-content__title::before {
        content: none;
    }

    .resume-list__icon {
        display: none;
    }

    .resume-contents {
        border-left: none;
        margin-left: 0;
    }

    .resume-content {
        padding: 1rem 0 0 0;
        margin-bottom: 4rem;
    }

    .contact {
        margin: 0 auto;
    }

    .contact-map {
        display: none;
    }

    .footer-wrapper {
        flex-direction: column-reverse;
        gap: 3.5rem;
    }
}

@media (max-width: 768px) {
    .header__logo {
        font-size: 5rem;
    }

    .menu {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        height: 0;
        overflow: hidden;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--section-bg-color);
        transition: all 200ms ease-in-out;
    }

    .menu--open {
        height: 34rem;
    }

    .menu__item {
        margin-left: 0;
        margin-bottom: 2rem;
    }

    .menu__item:first-child {
        margin-top: 2rem;
    }

    .menu-toggle {
        display: flex;
    }

    .cover {
        position: fixed;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 12%);
        opacity: 0;
        z-index: -1;
        transition: all 200ms ease-in-out;
    }

    .cover--show {
        opacity: 1;
        z-index: 99;
    }

    .home__avatar {
        border-width: 1rem;
    }

    .home__links-wrapper,
    .home__link {
        flex-direction: column;
        width: 100%;
    }

    .about-us__links {
        flex-direction: column;
        width: 100%;
    }

    .about-us__link {
        width: 100%;
    }

    .about-us__content-wrapper {
        height: 120rem;
    }

    .about-us {
        height: 142rem;
    }
}

@media (max-width: 576px) {

    .home__username {
        font-size: 2rem;
    }

    .home__title {
        font-size: 3.3rem;
    }

    .home__caption {
        font-size: 1.5rem;
        max-width: 33rem;
    }

    .home__avatar {
        width: 32rem;
        height: 32rem;
    }
}

@media (max-width: 400px) {
    .home__avatar {
        width: 25rem;
        height: 25rem;
    }

    .home__links-wrapper,
    .home__link {
        width: 100%;
        flex-direction: column;
    }

    .home__username {
        font-size: 1.6rem;
    }

    .home__title {
        font-size: 2.4rem;
    }

    .home__caption {
        font-size: 1.4rem;
        max-width: 28rem;
    }

    .home__link {
        height: 4rem;
        font-size: 1.4rem;
    }

    .section-title {
        font-size: 3.9rem;
    }

    .section-subject {
        font-size: 1.3rem;
    }

    .resume-list__text {
        font-size: 1.5rem;
    }

    .resume-content__title {
        font-size: 1.8rem;
    }

    .resume-content__date {
        padding: 0.1rem 1.1rem;
        font-size: 1.3rem;
    }

    .resume-content__subtitle {
        font-size: 1.4rem;
    }

    .resume-content__discription {
        font-size: 1.3rem;
    }

    .contact {
        padding: 3rem 1.8rem;
    }

    .contact__title {
        font-size: 2.6rem;
    }
    
    .contact__input {
        font-size: 1.2rem;
        padding: 1rem 1.7rem;
    }

    .contact__submit {
        padding: 0.7rem;
        font-size: 1.4rem;
    }
}